.popover {
    max-width: 350px;
}

table {
    height: 1px;
}
tr {
    height: 100%;
}

td {
    height: 100%;
    vertical-align: middle;
    white-space: pre-wrap;
}

td > div.container {
    height: 100%;
    vertical-align: middle;
    align-items: center;
    padding-left: 0;
    display: flex;
}

td > div.numeric {
    text-align: center;
    width: 100%;
}
.imageContainer {
    position: relative;
}

.imageContainer > div > div > button {
    font-weight: bold;
    border-radius: 1vh;
}

button.nav-link {
    font-size: 3vh;
    font-weight: bold;
}

.togglebtn:hover:not(.active) {
    color: var(--bs-btn-color);
    background-color: var(--bs-btn-bg);
    border-color: var(--bs-btn-border-color);
}

.linkbtn {
    width: 100%;
}

.filterContainer > div > div {
    display: flex;
    flex-flow: column wrap; 
    align-content: stretch;
}

.btn {
    font-weight: bolder;
}

#preview_table {
    border-spacing: 0px;
}

#preview_table > tbody > tr > td {
    padding: 0px;
    border-bottom-width: 0;
}