.popover {
    max-width: 350px;
}

table {
    height: 1px;
}

tr {
    height: 100%;
}

td {
    height: 100%;
    vertical-align: middle;
    white-space: pre-wrap;
}

    td > div.container {
        height: 100%;
        vertical-align: middle;
        align-items: center;
        padding-left: 0;
        display: flex;
    }

    td > div.numeric {
        text-align: center;
        width: 100%;
    }

.imageContainer {
    position: relative;
}

    .imageContainer > div > div > button {
        font-weight: bold;
        border-radius: 1vh;
    }

button.nav-link {
    font-size: 3vh;
    font-weight: bold;
}

.togglebtn:hover:not(.active) {
    color: var(--bs-btn-color);
    background-color: var(--bs-btn-bg);
    border-color: var(--bs-btn-border-color);
}

.headerbtn {
    font-size: 1.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.headerbtn:hover:not(.active) {
    color: var(--bs-btn-color);
    background-color: var(--bs-btn-bg);
    border-color: var(--bs-btn-border-color);
    cursor: default;
}

.linkbtn {
    width: 100%;
}

.filterContainer > div > div {
    display: flex;
    flex-flow: column wrap;
    align-content: stretch;
    text-align: center;
    padding-left: 1px;
    padding-right: 1px;
}

.col {
    padding-right: calc(var(--bs-gutter-x)* .1);
    padding-left: calc(var(--bs-gutter-x)* .1);
}

.btn {
    font-weight: bolder;
}

#preview_table {
    border-spacing: 0px;
}

#preview_table > tbody > tr > td {
    padding: 0px;
    border-bottom-width: 0;
    --bs-gutter-x: 0;
}

.outerContainer > .row > .col {
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
}

.plusbtn:disabled, .minusbtn:disabled {
    opacity: 0.4;
}

.plusbtn, .minusbtn {
    border-radius: 15px;
}

#filename {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    min-width: 150px;
}

.filterBox {
    display: flex;
    flex-flow: wrap;
    align-content: stretch;
    flex: 1 0 auto;
    overflow: hidden;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    -webkit-box-shadow: inset 0px 0px 0px 10px #198754;
    -moz-box-shadow: inset 0px 0px 0px 10px #198754;
    box-shadow: inset 0px 0px 0px 2px #198754;
}